/* ##### Header #####*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(206, 36, 6);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
}

.header a {
    margin-left: 1rem;
    text-decoration: none;
    color: black;
}
/* ##### Header #####*/


/* ##### About Me Section #####*/
.section {
    padding: 6rem 2rem 4rem;
}

.about-container {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
}

.about-left {
    padding-left: 5rem;
    flex: 2;
    text-align: justify;
}

.about-photo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
    padding-top: 2rem;
}

.icons-title {
    text-align: center;
}

.tech-box {
    border: 1px solid #ddd;
    padding: 0.3rem;
    border-radius: 10px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 0.75rem;

    overflow-x: auto;     
    overflow-y: hidden;
    white-space: nowrap;

    padding-bottom: 0.5rem; 
    scrollbar-width: thin;  
}

.icons img {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
/* ##### About Me Section #####*/


/* ##### Projects Section #####*/
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.project-card {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 10px;
}

.tags span {
    background: #eee;
    padding: 0.2rem 0.5rem;
    border-radius: 6px;
    margin-right: 0.3rem;
    font-size: 0.8rem;
}
/* ##### Projects Section #####*/


/* ##### Contact Me #####*/
.socials a {
    margin-right: 1rem;
}
/* ##### Contact Me #####*/


/* ##### Responsive #####*/
@media (max-width: 900px) {
    .about-container {
        flex-direction: column;
    }

    .about-photo {
        margin-top: 2rem;
    }
}
/* ##### Responsive #####*/