/* ##### Header #####*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background: linear-gradient(90deg, rgb(60, 20, 100), rgb(136, 47, 209));
}


.logo {
    color: rgb(220, 180, 240);
    font-weight: 700;
    font-size: larger;
}

.header a {
    margin-left: 1rem;
    text-decoration: none;
    color: rgb(220, 180, 240);
    font-weight: 700;
    font-size: larger;
}
/* ##### Header #####*/


/* ##### About Me Section ##### */

.section {
  padding: 6rem 0 4rem;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  align-items: start;
}

.about-left {
  text-align: justify;
}

.about-text h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.75;
  color: whitesmoke;
  font-weight: 500;
}

.highlight {
    font-weight: 700;
    color: rgb(120, 60, 180);
    animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
  from { text-shadow: 0 0 7 rgb(80, 40, 120); }
  to { text-shadow: 0 0 12 rgb(220, 180, 240); }
}

.about-photo {
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.about-photo img {
  width: 100%;
  max-width: 280px;
  border-radius: 50%;
  object-fit: cover;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1.5rem;
  padding-top: 2rem;
}

.tech-box {
  border-radius: 12px;
  border: 1px solid #502878; 
  background: rgba(220, 180, 240, 0.15);
}

.icons-title {
    padding-top: 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: #502878; 
}

.icons {
    display: flex;
    justify-self: center;
    gap: 0.75rem;
    justify-content: flex-start;
    overflow-x: auto;
    scrollbar-width: thin;
    padding: 0.5rem;
}

.icons img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;

  transition: transform 0.25s ease, filter 0.25s ease;
}

.icons img:hover {
  transform: scale(1.15);
}
/* ##### About Me Section ##### */



/* ##### Projects Section ##### */

.project-container-title {
    font-size: xx-large;
  text-align: center;
  margin-bottom: 2rem;
}

.project-container {
  max-width: 1200px;    
  margin: 0 auto;        
  padding: 0 1.5rem;     
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.project-card {
  border: 1px solid #ddd;
  padding: 1.25rem;
  border-radius: 12px;
  background: rgba(220, 180, 240, 0.25);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* hover opcional */
.project-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-top: 0.5rem;
}

.tags span {
  background: #eee;
  padding: 0.25rem 0.6rem;
  border-radius: 999px;
  font-size: 0.75rem;
  background-color: #cda1f0;
}

/* ##### Projects Section ##### */



/* ##### Contact Me #####*/
.contact-content {
    text-align: center;
}

.socials a {
    margin-right: 1rem;
}
/* ##### Contact Me #####*/


/* ##### Responsive #####*/
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
    }

    .about-photo {
        margin-top: 2rem;
    }

    .about-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-left {
        text-align: left;
    }

    .icons {
        justify-content: center;
    }
}
/* ##### Responsive #####*/