/* ##### Header #####*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background: linear-gradient(90deg, rgb(17, 1, 32), rgba(112, 58, 156, 0.815));
    z-index: 10;
}

.logo {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: larger;
}

.header a {
  margin-left: 1rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: large;
  background-color: rgba(15, 2, 20, 0.39); 
  padding: 0.4rem 1.5rem;
  border-radius: 999px;
  text-shadow: 0 0 1px rgba(255,255,255,0.6); 
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.815); 
  backdrop-filter: blur(4px); 
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.header a:hover {
  transform:  scale(1.05); /* levanta e dá leve zoom */
  box-shadow: 0 4px 15px rgba(120, 60, 180, 0.6); /* glow roxo */
}

.header a:hover {
  background: linear-gradient(120deg, rgba(255,255,255,0.2), rgba(180,120,255,0.4), rgba(255,255,255,0.2));
  background-size: 200% 100%;
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}



/* ##### Header #####*/


/* ##### About Me Section ##### */

.section {
  padding: 6rem 0 4rem;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  align-items: start;
}

.about-left {
  text-align: justify;
}

.about-text h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.name-link {
  position: relative;
  font-weight: 700;
  color: rgb(180, 120, 255);
  text-decoration: none;
  white-space: nowrap;
}

.name-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgb(120, 60, 180),
    rgb(200, 160, 255)
  );
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.name-link:hover::after {
  transform: scaleX(1);
}

.name-link:hover {
  text-shadow: 0 0 1px rgba(200, 160, 255, 0.6);
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.75;
  color: whitesmoke;
  font-weight: 500;
}

.about-text-content {
  border-radius: 12px;
  border: 1px solid #211331; 
  background: rgba(32, 21, 51, 0.322);
  padding: 1rem;
}

.typing-container {
  font-size: 2.2rem;
  font-weight: 700;
  color: rgb(120, 60, 180);
  min-height: 2.8rem; /* evita saltos */
}

.cursor {
  display: inline-block;
  margin-left: 4px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}


.about-photo {
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative; 
}

.rocker-and-denis {
  position: relative; 
  width: 280px; 
  height: 280px;
}

/* Rocket atrás */
.rocket {
  width: 190%;
  height: 190%;
  object-fit: cover;
  border-radius: 16px;
  position: absolute;
  top: -35%;
  left: 20%;
  animation: float-rocket 4s ease-in-out infinite alternate;
}


@keyframes float-rocket {
  0% { transform: translateY(0) rotate(-2deg); }
  25% { transform: translateY(-10px) rotate(1deg); }
  50% { transform: translateY(-15px) rotate(-1deg); }
  75% { transform: translateY(-10px) rotate(2deg); }
  100% { transform: translateY(0) rotate(0deg); }
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1.5rem;
  padding-top: 2rem;
}

.tech-box {
  border-radius: 12px;
  border: 1px solid #211331; 
  background: rgba(32, 21, 51, 0.322);
}

.icons-title {
    padding-top: 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: #ffffff; 
}

.icons {
    display: flex;
    justify-self: center;
    gap: 0.75rem;
    justify-content: flex-start;
    overflow-x: auto;
    scrollbar-width: thin;
    padding: 0.5rem;
}

.icons img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;

  transition: transform 0.25s ease, filter 0.25s ease;
}

.icons img:hover {
  transform: scale(1.15);
}
/* ##### About Me Section ##### */



/* ##### Projects Section ##### */

.project-container-title {
  font-size: xx-large;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  font-size: 2.2rem;
  font-weight: 700;
  color: rgb(120, 60, 180);
}

.project-container {
  max-width: 1200px;    
  margin: 0 auto;        
  padding: 0 1.5rem;
  position: relative;     
}

.project-link {
  position: relative;
  font-size: larger;
  font-weight: 900;
  color: whitesmoke;
  text-decoration: none;
  white-space: nowrap;
}

.project-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgb(120, 60, 180),
    rgb(200, 160, 255)
  );
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.project-link:hover {
  color: rgb(180, 120, 255);
  text-shadow: 0 0 1px rgba(200, 160, 255, 0.6);
}

.project-link:hover::after {
  transform: scaleX(1);
}


.project-container-subtitle {
  padding-bottom: 0.5rem;
  color: rgb(120, 60, 180);
  font-size: 1.1rem;
  font-weight: 700;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.project-card {
  border: 1px solid #9d83d1;
  padding: 1.25rem;
  border-radius: 12px;
  background: rgba(47, 33, 66, 0.671);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: whitesmoke;
    cursor: default; 
}

.project-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}



.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  margin-top: 0.5rem;
}

.tags span {
  background-color: rgba(155, 89, 182, 0.3); 
  padding: 0.25rem 0.6rem;
  border-radius: 999px;
  font-size: 0.75rem;
  color: white; 
  text-shadow: 0 0 1px rgba(255,255,255,0.6); 
  box-shadow: 0 0 3px rgba(155, 89, 182, 0.6); 
  backdrop-filter: blur(4px); 
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.tags span:hover {
  transform: scale(1.1);
  box-shadow: 0 0 3px rgba(155, 89, 182, 0.8);
}

/* ##### Projects Section ##### */



/* ##### Contact Me #####*/
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-card {
  max-width: 500px;
  width: 100%;
  padding: 2.5rem 2rem;

  border-radius: 16px;
  border: 1px solid #211331;
  background: rgba(32, 21, 51, 0.35);

  backdrop-filter: blur(8px);
  text-align: center;

  box-shadow: 0 0 5px rgba(120, 60, 180, 0.15);
}

.contact-title {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: white;
}

.contact-email a {
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(180, 120, 255);
  text-decoration: none;
}

.contact-email a:hover {
  text-shadow: 0 0 2px rgba(200, 160, 255, 0.6);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 1.5rem;
}

.socials a {
  padding: 0.45rem 1.4rem;
  border-radius: 999px;

  font-weight: 600;
  color: white;
  text-decoration: none;

  background-color: rgba(155, 89, 182, 0.25);
  box-shadow: 0 0 6px rgba(155, 89, 182, 0.5);
  backdrop-filter: blur(4px);

  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.socials a:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 3px rgba(155, 89, 182, 0.8);
}


/* ##### Contact Me #####*/


/* ##### Responsive #####*/
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
    }

    .about-photo {
        margin-top: 2rem;
    }

    .about-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-left {
        text-align: left;
    }

    .icons {
        justify-content: center;
    }
}
/* ##### Responsive #####*/